<h3 class="mb16">Eerste ronde 2021</h3>

<h4 class="mb8">OPGELET: speciale maatregelen pandemie</h4>
<p><strong>
        We organiseren geen regionale centra,
        maar je mag de proef thuis afleggen.<br>
        Geen finale; enkel de online voorronde vindt plaats.
</strong></p>

<h4 class="mb8">Plaats en datum</h4>
<p>
  De voorronde vindt plaats tijdens de week van <strong>1 tot 5 februari 2021</strong> in je school of thuis.<br>
  Je moet de proef aanvatten tussen 8u00 en 15u30.<br>
  De proef duurt 75 minuten; je mag haar slechts één keer afleggen.
</p>

<h4 class="mb8">Types van vragen</h4>
<p>
  De voorronde zal zich afspelen op de computer, op het gewoonlijke wedstrijdplatform.<br>
  Ziehier <%= link_to "enkele voorbeeldvragen", "#sample-questions-qualif' %>.<br>

  Oefen op het <%= ext_link_to "wedstrijdplatform", current_page.data.contest_platform["nl"], onclick:"fbq('track', 'GoToContestPlatform', {});" %>.
</p>

<% if config.registration_open %>
<h4 class="mb8">Hoe deelnemen?</h4>
<p>
        <strong>Bent u een school?</strong>
        Schrijf u in als coördinator op
    <%= link_to "ons wedstrijdplatform", current_page.data.management_platform["nl"], onclick:"fbq('track', 'GoToMgmtPlatform', {});" %>.
<br>
        <strong>Neemt jouw school niet deel of neem je liever van thuis uit deel?</strong><br>
	<a href="/nl/registration">Schrijf je individueel in.</a>
</p>
<% end %>

<% if config.show_qualif_results %><%= link_to t("Results"), 'qualif_results', class:'btn btn-lg btn-filled' %><% end %>
