<h3>Entrer dans la beCP&nbsp;?</h3>
<p>Pour entrer dans la beCP, vous devez nous montrer que vous savez programmer et que vous êtes motivé à vous entraîner. Si vous n'est pas encore rentré en cinquième secondaire, nous vous demandons donc de résoudre tous les exercices
du 1er chapitre sur la plateforme d'entraînement américaine <%= ext_link_to "USACO", "https://train.usaco.org/usacogate" %>.</p>
<p>Lorsque vous les aurez tous résolus, envoyez-nous un e-mail à <%= mail_to "becp@be-oi.be" %> avec une archive .zip contenant tous vos codes.</p>
<p>Si vous êtes en cinquième ou sixième secondaire, contactez nous si vous pensez que vous méritez d'intégrer le groupe.
Cependant, s'entraîner pour les olympiades internationales est un travail de longue haleine.
À vous de nous convaincre que vous serez prêt pour intégrer l'équipe pour l'Olympiade Internationale avant la fin de vos études secondaires,
par exemple en nous montrant vos bons résultats à des concours d'algorithmique en ligne.</p>
