<h3>Meedoen bij beCP?</h3>
<p>Om mee te doen bij beCP moet je tonen dat je kan programmeren, en dat je gemotiveerd bent om verder bij te leren. Daarom vragen we leerlingen die het vijfde leerjaar van het secundair onderwijs nog niet aangevangen hebben, om alle oefeningen van het eerste hoofdstuk te maken op het Amerikaanse trainingsplatform <%= ext_link_to "USACO", "https://train.usaco.org/usacogate" %>.</p>
<p>Wanneer je alles hebt kunnen oplossen, stuur dan een mail met een .zip bestand met al je codes naar <%= mail_to "becp@be-oi.be" %>.</p>
<p>Als je in of voorbij het vijfde leerjaar zit, contacteer ons dan als je je voldoende bekwaam acht om onze groep te vervoegen. In elk geval is het zich voorbereiden voor de internationale olympiades een werk van lange adem.
Aan jou om ons te overtuigen dat je klaar zal zijn om de ploeg voor de Internationale Olympiade te vervoegen vóór het einde van het secundair,
bijvoorbeeld door ons je goede resultaten te laten zien op online wedstrijden algoritmiek.</p>
