<h3 class="mb16">Eerste ronde 2021</h3>

<h4 class="mb8">OPGELET: speciale maatregelen pandemie</h4>
<p><strong>
        We organiseren geen regionale centra,
        maar je mag de proef thuis afleggen.<br>
        Geen finale; enkel de online voorronde vindt plaats.
</strong></p>

<h4 class="mb8">Plaats en datum</h4>
<p>
  De voorronde vindt plaats tijdens de week van <strong>1 tot 5 februari 2021</strong> indien je deelneemt via je school (in het schoolgebouw zelf of op afstand van thuis uit); in dat geval moet je de proef aanvatten tussen 8u00 en 15u30. Indien je deelneemt van thuis uit via een individuele inschrijving moet je de proef aanvatten op woensdag 3 februari om 14u. De proef duurt 75 minuten; je mag haar slechts één keer afleggen.
</p>

<h4 class="mb8">Types van vragen</h4>
<p>
  De voorronde zal zich afspelen op de computer, op het gewoonlijke wedstrijdplatform.<br>
  Ziehier <%= link_to "enkele voorbeeldvragen", '#sample-questions-qualif' %>.<br>

  Oefen op het <%= ext_link_to "wedstrijdplatform", current_page.data.contest_platform["nl"], onclick:"fbq('track', 'GoToContestPlatform', {});" %>.
</p>

<% if config.registration_open %>
<h4 class="mb8">Hoe deelnemen?</h4>
<p>
        <strong>Bent u een school?</strong>
        Schrijf u in als coördinator op
    <%= link_to "ons wedstrijdplatform", current_page.data.management_platform["nl"], onclick:"fbq('track', 'GoToMgmtPlatform', {});" %>.
<br>
        <strong>Neemt jouw school niet deel of neem je liever van thuis uit deel (uitsluitend op woensdag 3 februari om 14u)?</strong><br>
	<a href="/nl/registration">Schrijf je individueel in.</a>
        Je zal op 3 februari tegen 14u een code ontvangen die je toegang zal geven tot de wedstrijd. Let wel: je moet binnen de 15 minuten na ontvangst van de code de proef aanvatten.
</p>
<% end %>

<% if config.show_qualif_results %><%= link_to t("Results"), 'qualif_results', class:'btn btn-lg btn-filled' %><% end %>
