<h3>Meedoen bij beCP?</h3>
<p>Om mee te doen bij beCP moet je tonen dat je kan programmeren, en dat je gemotiveerd bent om verder bij te leren.
Daarom vragen we leerlingen die nog niet in het zesde jaar secundair of hoger zitten, om een aantal oefeningen te maken op de website van <%= ext_link_to "USACO Guide", "https://usaco.guide" %>.</p>
<p>Praktisch: Maak een account aan op USACO guide en sluit je aan bij de groep die te vinden is op <%= ext_link_to "deze link", "https://usaco.guide/groups/join?key=rjW0XfoSo8iPeB4GVDNA" %>, zodat we je vorderingen kunnen volgen.
Afhankelijk van het jaar waarin je zit, wordt een ander aantal oefeningen van je verwacht. De lijst met problemen die je jaar betreffen staat in de groep.
<i>Indien je ook Frans speekt, is het moeglijk om France-IOI te gebruiken in plaats van USACO Guide. Meer informatie op de <%= link_to "Franstalige versie van deze pagina", '/fr/becp/' %>.</i></p>
<p>Wanneer je alles hebt kunnen oplossen, stuur dan een mail naar <%= mail_to "becp@be-oi.be" %> om het ons te laten weten.</p>
<p>Als je in het zesde jaar of hoger zit, contacteer ons dan als je je voldoende bekwaam acht om onze groep te vervoegen. In elk geval is het zich voorbereiden voor de internationale olympiades een werk van lange adem.
Aan jou om ons te overtuigen dat je klaar zal zijn om de ploeg voor de Internationale Olympiade te vervoegen vóór het einde van het secundair,
bijvoorbeeld door ons je goede resultaten te laten zien op online wedstrijden algoritmiek.</p>
