<h3 class="mb16">Eerste ronde 2021</h3>

<h4 class="mb8">ATTENTION: mesures spéciales pandémie</h4>
<p><strong>
	Pas d'accès aux centres régionaux,
	mais vous pouvez passer l'épreuve à domicile.<br>
	Pas de Finale, il n'y aura que les Éliminatoires en ligne.
</strong></p>

<h4 class="mb8">Plaats en datum</h4>
<p>
  L'éliminatoire a lieu la semaine du <strong>1 au 5 février 2021</strong> dans votre école ou à domicile.<br>
  Vous devez démarrer entre 8h00 et 15h30.<br>
  L'épreuve dure 75 minutes, vous ne pouvez la passer qu'une seule fois.
</p>

<h4 class="mb8">Types van vragen</h4>
<p>
  Les éliminatoires se dérouleront sur ordinateur sur la plate-forme habituelle.<br>
  Voici <%= link_to "quelques exemples de questions", '#sample-questions-qualif' %>.<br>

  Entrainez-vous sur la <%= ext_link_to "plate-forme du concours", current_page.data.contest_platform["nl"], onclick:"fbq('track', 'GoToContestPlatform', {});" %>.
</p>

<% if config.registration_open %>
<h4 class="mb8">Hoe deelnemen?</h4>
<p>
	<strong>Vous êtes une école?</strong>
	Inscrivez-vous en tant que coordinateur sur
    <%= link_to "notre plate-forme", current_page.data.management_platform["fr"], onclick:"fbq('track', 'GoToMgmtPlatform', {});" %> dédiée.
<br>
	<strong>Votre école ne souhaite pas participer ou vous préférez participer depuis chez vous?</strong><br>
	<a href="/fr/registration">Inscrivez-vous individuellement.</a>
</p>
<% end %>

<% if config.show_qualif_results %><%= link_to t("Results"), 'qualif_results', class:'btn btn-lg btn-filled' %><% end %>
